nvim/.config/nvim/plugin/
mimeinfo.cache
chromium/.var/app/com.github.Eloston.UngoogledChromium/.ld.so/
chromium/.var/app/com.github.Eloston.UngoogledChromium/cache/
chromium/.var/app/com.github.Eloston.UngoogledChromium/config/chromium/
chromium/.var/app/com.github.Eloston.UngoogledChromium/config/glib-2.0/
chromium/.var/app/com.github.Eloston.UngoogledChromium/config/pulse/
chromium/.var/app/com.github.Eloston.UngoogledChromium/config/user-dirs.dirs
chromium/.var/app/com.github.Eloston.UngoogledChromium/data/

ipython/.ipython/profile_default/db/
ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/startup/
jupyterlab/.jupyter/lab/workspaces/
jupyterlab/.jupyter/migrated

qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/bookmarks/
qutebrowser/.config/qutebrowser/qsettings/
qutebrowser/.config/qutebrowser/quickmarks

systemd/.config/systemd/user/timers.target.wants/
