## Base16 tokyonight
# Source:https://github.com/arcticlimer/base16-tokyonight-scheme/blob/master/tokyonight.yaml

set $base00 #24283b
set $base01 #1f2335
set $base02 #292e42
set $base03 #565f89
set $base04 #a9b1d6
set $base05 #c0caf5
set $base06 #c0caf5
set $base07 #c0caf5
set $base08 #f7768e
set $base09 #ff9e64
set $base0A #e0af68
set $base0B #9ece6a
set $base0C #1abc9c
set $base0D #41a6b5
set $base0E #bb9af7
set $base0F #ff007c
