[Desktop Entry]
Name=Neomutt
#Exec=al -T Neomutt -e neomutt
Exec=kitty --class Neomutt -e neomutt
Terminal=false
Type=Application
Keywords=mail;
Icon=/home/vandal/Pictures/neomutt.png
