[Desktop Entry]
Type=Application
Name=nnn
Comment=Terminal file manager
Exec=alacritty --class nnn -e nnn
Terminal=false
Icon=nnn
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
